<div class="chat-header">
  <div class="chat-name">
    hogefuga
  </div>
  <div class="chat-end">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <h4 class="name">Tom</h4>
  <em class="post-date">2020/3/31(wed) 12:43:30</em>
  <h4 class="text">おはよう</h4>
  <h4 class="name">Sim</h4>
  <em class="post-date">2020/3/31(wed) 12:43:30</em>
</div>

<div class="form">
    <div class="form-input">
    <input class="form-message" placeholder= "type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input class="form-submit" type="submit" value="送信">
</div>